__steps:
  - checkout: &checkout
      path: ~/project
  - run: &dockerauth
      command: echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  - run: &gcloudauth
      command: |
          echo ${GOOGLE_AUTH} > ${HOME}/gcp-key.json
          gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
          gcloud auth configure-docker
  - run: &deploy
      name: deploy
      command: |
        gcloud container clusters get-credentials ${GCLOUD_CLUSTER_ID} --zone=${GOOGLE_COMPUTE_ZONE}
        helm init --service-account tiller
        COMMIT_SHA=$CIRCLE_SHA1 myke backend/preview
        COMMIT_SHA=$CIRCLE_SHA1 myke front/preview
        COMMIT_SHA=$CIRCLE_SHA1 HELM_XTRA_ARGS=$HELM_XTRA_ARGS myke backend/deploy
        COMMIT_SHA=$CIRCLE_SHA1 HELM_XTRA_ARGS=$HELM_XTRA_ARGS myke front/deploy
  - run: &notify0
      when: on_success
      command: TEST_RESULT=0 DOMAIN="$K8S_NAMESPACE.$DOMAIN_SUFFIX" myke opla/_circle_notify
  - run: &notify1
      when: on_fail
      command: TEST_RESULT=1 DOMAIN="$K8S_NAMESPACE.$DOMAIN_SUFFIX" myke opla/_circle_notify

__jobs:
  cypress: &cypress
    working_directory: ~/project/e2e
    docker:
      - image: cypress/base:8
        environment:
          TERM: xterm ## this enables colors in the output
    parallelism: 1
    steps:
      - checkout: *checkout
      - restore_cache:
          keys:
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-
      - run: npm install
      - save_cache:
          key: c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: E2E tests
          command: $(npm bin)/cypress run --record
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

version: 2
jobs:
  backend_test:
    working_directory: ~/project/backend
    docker:
      - image: circleci/node:8
      - image: circleci/mariadb
        environment: 
          MYSQL_DATABASE: opla_test

    steps:
      - checkout: *checkout
      - restore_cache:
          keys:
          - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-yarn-{{ .Branch }}-{{ checksum "package.json" }}
          - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-yarn-{{ .Branch }}-
          - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-yarn-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-yarn-{{ .Branch }}-{{ checksum "package.json" }}
      - run: timeout 60 sh -c 'until nc -z $0 $1; do sleep 1; done' 127.0.0.1 3306
      - run: bin/opla init --non-interactive --database-name opla_test
      - run: bin/opla migrations up
      - run: yarn lint
      - run: yarn test
  
  backend_build:
    working_directory: ~/project/backend
    docker: 
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: qa
      K8S_NAMESPACE: qa-ce
      CLOUDSDK_CORE_DISABLE_PROMPTS: "1"
    steps:
      - checkout: *checkout
      - setup_remote_docker
      - run: *dockerauth
      - run: myke backend/ci_build --COMMIT_SHA=$CIRCLE_SHA1 --BUILD_NUMBER=$CIRCLE_BUILD_NUM

  backend_e2e_tests:
    working_directory: ~/project/backend
    docker:
      - image: opla/ci-cd:latest
    environment: 
      K8S_ENV: qa
      GCLOUD_CLUSTER_ID: qa

    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: echo 'export K8S_NAMESPACE="circleci-$CIRCLE_BUILD_NUM"' >> $BASH_ENV
      - run: 
          name: deploy
          command: |
            gcloud container clusters get-credentials ${GCLOUD_CLUSTER_ID} --zone=${GOOGLE_COMPUTE_ZONE}
            helm init --service-account tiller
            COMMIT_SHA=$CIRCLE_SHA1 myke preview
            COMMIT_SHA=$CIRCLE_SHA1 HELM_XTRA_ARGS="--set tls=false" myke deploy
      - run:
          name: backend test
          command: retry -s 1 -t 60 "myke e2e_test --HOST=$K8S_NAMESPACE.k8s.opla.ai"
      - run:
          name: cleanup
          command: kubectl delete ns circleci-$CIRCLE_BUILD_NUM
          when: always

  e2e_qa:
    <<: *cypress
    environment:
      CYPRESS_FRONTEND_URL: https://qa-ce.k8s.opla.ai/
  
  e2e_preprod:
    <<: *cypress
    environment:
      CYPRESS_FRONTEND_URL: https://preprod-ce.k8s.opla.ai/

  backup_prod:
    working_directory: ~/project/backend
    docker:
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: prod
      K8S_NAMESPACE: prod-ce
      GCLOUD_CLUSTER_ID: qa
    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: 
          name: backup mariadb
          command: |
            gcloud container clusters get-credentials ${GCLOUD_CLUSTER_ID} --zone=${GOOGLE_COMPUTE_ZONE}
            helm init --service-account tiller
            COMMIT_SHA=$CIRCLE_SHA1 myke backup_db
  
  backup_preprod:
    working_directory: ~/project/backend
    docker:
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: preprod
      K8S_NAMESPACE: preprod-ce
      GCLOUD_CLUSTER_ID: qa
    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: 
          name: backup mariadb
          command: |
            gcloud container clusters get-credentials ${GCLOUD_CLUSTER_ID} --zone=${GOOGLE_COMPUTE_ZONE}
            helm init --service-account tiller
            COMMIT_SHA=$CIRCLE_SHA1 myke backup_db

  front_test:
    working_directory: ~/project/front
    docker:
      - image: circleci/node:8
    steps:
      - checkout: *checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      - run: yarn lint
      - run: yarn test
  
  front_build:
    working_directory: ~/project/front
    docker: 
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: qa
      K8S_NAMESPACE: qa-ce
      CLOUDSDK_CORE_DISABLE_PROMPTS: "1"
    steps:
      - checkout: *checkout
      - setup_remote_docker
      - run: *dockerauth
      - run: myke front/ci_build --COMMIT_SHA=$CIRCLE_SHA1 --BUILD_NUMBER=$CIRCLE_BUILD_NUM

  promote:
    docker: 
      - image: opla/ci-cd:latest
    steps:
      - checkout: *checkout
      - setup_remote_docker
      - run: *dockerauth
      - run: myke backend/ci_promote --COMMIT_SHA=$CIRCLE_SHA1
      - run: myke front/ci_promote --COMMIT_SHA=$CIRCLE_SHA1

  deploy_qa:
    docker:
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: qa
      K8S_NAMESPACE: qa-ce
      GCLOUD_CLUSTER_ID: qa
    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: *deploy
      - run: *notify0
      - run: *notify1

  deploy_preprod:
    docker:
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: preprod
      K8S_NAMESPACE: preprod-ce
      GCLOUD_CLUSTER_ID: qa
    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: *deploy
      - run: *notify0
      - run: *notify1

  deploy_prod:
    docker:
      - image: opla/ci-cd:latest
    environment:
      K8S_ENV: prod
      K8S_NAMESPACE: prod-ce
      GCLOUD_CLUSTER_ID: qa

    steps:
      - checkout: *checkout
      - run: *gcloudauth
      - run: *deploy
      - run: *notify0
      - run: *notify1
  
  cypress_e2e:
    working_directory: ~/project/e2e
    machine: true
    environment:
      CYPRESS_FRONTEND_URL: http://localhost/
      TERM: xterm ## this enables colors in the output

    steps:
      - checkout: *checkout
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          command: cd ../docker && BACKEND_TAG=$CIRCLE_SHA1 FRONT_TAG=$CIRCLE_SHA1 docker-compose up --no-start
      - run:
          background: true
          command: cd ../docker && BACKEND_TAG=$CIRCLE_SHA1 FRONT_TAG=$CIRCLE_SHA1 docker-compose up
      - restore_cache:
          keys:
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-
            - c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-
      - run: npm install
      - save_cache:
          key: c-{{ .Environment.CACHE_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
            - ~/.cache
      - run:
          name: E2E tests
          command: $(npm bin)/cypress run --record
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - cypress_e2e:
          requires:
            - front_build
            - backend_build
      - backend_test:
          filters:
            branches:
              ignore: gh-pages
            tags:
              only: /.*/
      - front_test:
          filters:
            branches:
              ignore: gh-pages
            tags:
              only: /.*/
      - backend_build:
          filters:
            branches:
              ignore: /^.*pull\/[\d]+$/
      - front_build:
          filters:
            branches:
              ignore: /^.*pull\/[\d]+$/
      - backend_e2e_tests:
          requires:
            - front_test
            - front_build
            - backend_test
            - backend_build
          filters:
            branches:
              ignore: /^.*pull\/[\d]+$/
      - promote:
          requires:
            - backend_e2e_tests
            - cypress_e2e
          filters:
            branches:
              only: 
                - master
      - deploy_qa:
          requires:
            - backend_e2e_tests
            - cypress_e2e
          filters:
            branches:
              only: 
                - master
      - deploy_preprod:
          requires:
            - backend_e2e_tests
            - cypress_e2e
          filters:
            branches:
              only: 
                - master
      - e2e_preprod:
          requires:
            - deploy_preprod
      - e2e_qa:
          requires:
            - deploy_qa
      - request_prod:
          type: approval
          requires:
            - e2e_qa
            - e2e_preprod
      - deploy_prod:
          requires:
            - e2e_qa
            - e2e_preprod
            - request_prod
  backup_daily:
    triggers:
      - schedule:
          cron: "0 3 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - backup_prod
      - backup_preprod
