version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8

    steps:
      - checkout
      - run: npm install
      - run: npm test

workflows:
  version: 2

  build:
    jobs:
      - test:
          filters:
            branches:
              ignore: gh-pages
